<%- include('../includes/dashboard-header.ejs') %>

    <!--main content wrapper-->
    <div class="content-wrapper">

        <div class="creative-state-area">
            <div class="row">
                <div class=" col-md-2 col-12 text-center text-md-left">
                    <h4 class=" creative-state-title mb-0 mt-2">Dashboard</h4>
                </div>
                <div class=" col-md-10 col-12">
                    <marquee onmouseover="this.stop();" onmouseout="this.start();">
                        <ul class="list-unstyled marquee-list mt-2">
                            <li class="text-info"> BTC $<%= BTC %> </li>
                            <li class="text-purple"> ETH $<%= ETH %></li>
                            <li class="text-primary"> XRP $<%= XRP %></li>
                            <li class="text-danger"> BCH $<%= BCH %></li>
                            <li class="text-success"> LTC $<%= LTC %></li>
                            <li class="text-warning"> BNB $<%= BNB %></li>
                            <li class="text-purple-light"> USDT $<%= USDT %></li>
                            <li class="text-info"> XLM $<%= XLM %></li>
                        </ul>
                    </marquee>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <div class="card mb-4 basic-gradient text-light text-center">
                        <div class="card-body py-5">
                            <!-- <h2>Exchange your Crypto Currency</h2> -->
                            <!-- <em class="f18">No Additional fees</em> -->

                            <div class="row justify-content-md-center mt-5">
                                <div class="col-xl-6 col-md-6" >
                                    <div class="card card-shadow mb-4">
                                        <div class="card-header border-0">
                                            <div class="custom-title-wrap bar-success wallet-card-wrap">
                                                <div class="custom-title wallet-title">WALLET</div>
                                                <div class=" widget-action-link ml-5">
                                                <img src="/public/images/usd.jpg" alt="" srcset="" style="width: 40px;" class="wallet-img">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body" >
                                            <div class="wallet-body">
                                                <h3 class="bal-text">Available Balance</h3>
                                                <h4 class="curr-bal"><span>$</span><%= availBal %></h4>
                                            </div>
                                            <div class="wallet-button">
                                                <a href="/withdraw">
                                                    <button class="btn btn-primary btn-withdraw">Withdraw</button>
                                                </a>
                                                <a href="/deposit">
                                                    <button class="btn btn-primary btn-deposit ml-4">Deposit</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-md-6">
                                    <div class="card card-shadow mb-4">
                                        <div class="card-header border-0">
                                            <div class="custom-title-wrap bar-success invest-card-wrap">
                                                <div class="custom-title wallet-title">INVESTMENT SUMMARY</div>
                                                <div class=" widget-action-link ml-5">
                                                <img src="/public/images/invest-img.jpg" alt="" srcset="" style="width: 50px;" class="wallet-img">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="invest-body">
                                                <div class="invest-row">
                                                    <div class="invest-col-1">
                                                        <h3 class="invest-sub-title">Amount</h3>
                                                        <h4 class="invest-bal"><span>$</span><%= investBal %></h4>
                                                    </div>
                                                    <div class="invest-col">
                                                        <h3 class="invest-sub-title">ROI %</h3>
                                                        <h4 class="roi-bal"><span>$</span><%= roiBal %></h4>
                                                    </div>                                                   
                                                </div>
                                            </div>
                                            <div class="invest-button">
                                                <a href="/invest">
                                                    <button class="btn btn-primary btn-withdraw">Activate</button>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8 col-md-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-primary">
                                <div class="custom-title"> BTC/USD</div>
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <div class="row text-center mb-4">
                                <div class="col-4">
                                    <h4 class="mb-0">$120 </h4>
                                    <small class="text-muted text-uppercase">Last Price</small>
                                </div>
                                <div class="col-4">
                                    <h4 class="mb-0">$740</h4>
                                    <small class="text-muted text-uppercase">Daily Changes</small>
                                </div>
                                <div class="col-4">
                                    <h4 class="mb-0">1234.5678 BTC</h4>
                                    <small class="text-muted text-uppercase">24 H Volume</small>
                                </div>
                            </div> -->
                             <!-- <div id="candle_stick" style="height: 400px; "></div> -->
                             <div style="height:560px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 0px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; font-size: 12px; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #ffffff;padding:1px;padding: 0px; margin: 0px; width: 100%;"><div style="height:540px; padding:0px; margin:0px; width: 100%;"><iframe src="https://widget.coinlib.io/widget?type=chart&theme=light&coin_id=859&pref_coin_id=1505" width="100%" height="536px" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;line-height:14px;"></iframe></div></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-danger">
                                <div class="custom-title">Data Tables Market</div>
                                <div class="custom-post-title">Todays Currency Exchange and Changes</div>
                            </div>
                        </div>
                        <div class="card-body p-0 pt-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <!-- TradingView Widget BEGIN -->
                                    <div class="tradingview-widget-container">
                                        <div class="tradingview-widget-container__widget"></div>
                                        <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div> -->
                                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                                        {
                                        "colorTheme": "light",
                                        "dateRange": "12M",
                                        "showChart": true,
                                        "locale": "en",
                                        "largeChartUrl": "",
                                        "isTransparent": false,
                                        "showSymbolLogo": true,
                                        "width": "322",
                                        "height": "660",
                                        "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                        "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                        "gridLineColor": "rgba(240, 243, 250, 1)",
                                        "scaleFontColor": "rgba(120, 123, 134, 1)",
                                        "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                        "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                        "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                        "tabs": [
                                        {
                                            "title": "Indices",
                                            "symbols": [
                                            {
                                                "s": "BINANCE:ETHBTC"
                                            },
                                            {
                                                "s": "BINANCE:XRPBTC"
                                            },
                                            {
                                                "s": "BINANCE:LTCBTC"
                                            },
                                            {
                                                "s": "POLONIEX:USDTBTC"
                                            },
                                            {
                                                "s": "BINANCE:BCHBTC"
                                            },
                                            {
                                                "s": "BINANCE:XLMBTC"
                                            }
                                            ],
                                            "originalTitle": "Indices"
                                        }
                                        ]
                                    }
                                        </script>
                                    </div>
                                    <!-- TradingView Widget END -->
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-xl-4 col-md-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-success">
                                <div class="custom-title">Ethereum ETH</div>
                                <!-- <div class="custom-post-title">0.00000434 BTC</div>
                                <div class=" widget-action-link">
                                    <div class="text-warning weight700">$5,679</div>
                                    <small class="text-muted">$25</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body" >
                            <!-- <canvas id="crypto_chart_1" height="150"></canvas> -->
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div> -->
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                                {
                                "colorTheme": "light",
                                "dateRange": "12M",
                                "showChart": true,
                                "locale": "en",
                                "largeChartUrl": "",
                                "isTransparent": true,
                                "showSymbolLogo": true,
                                "width": "300",
                                "height": "350",
                                "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                "gridLineColor": "rgba(240, 243, 250, 1)",
                                "scaleFontColor": "rgba(120, 123, 134, 1)",
                                "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                "tabs": [
                                {
                                    "title": "Indices",
                                    "symbols": [
                                    {
                                        "s": "COINBASE:ETHUSD"
                                    }
                                    ],
                                    "originalTitle": "Indices"
                                }
                                ]
                            }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-success">
                                <div class="custom-title">Ripple XRP</div>
                                <!-- <div class="custom-post-title">0.00000434 LTC</div>
                                <div class=" widget-action-link">
                                    <div class="text-info weight700">$4,364</div>
                                    <small class="text-muted">$25</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <canvas id="crypto_chart_2" height="150"></canvas> -->
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div> -->
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                                {
                                "colorTheme": "light",
                                "dateRange": "12M",
                                "showChart": true,
                                "locale": "en",
                                "largeChartUrl": "",
                                "isTransparent": true,
                                "showSymbolLogo": true,
                                "width": "300",
                                "height": "350",
                                "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                "gridLineColor": "rgba(240, 243, 250, 1)",
                                "scaleFontColor": "rgba(120, 123, 134, 1)",
                                "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                "tabs": [
                                {
                                    "title": "Indices",
                                    "symbols": [
                                    {
                                        "s": "BITSTAMP:XRPUSD"
                                    }
                                    ],
                                    "originalTitle": "Indices"
                                }
                                ]
                            }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-success">
                                <div class="custom-title">Litcoin LTC</div>
                                <!-- <div class="custom-post-title">0.00000434 NEO</div>
                                <div class=" widget-action-link">
                                    <div class="text-success weight700">$3,479</div>
                                    <small class="text-muted">$25</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <canvas id="crypto_chart_3" height="150"></canvas> -->
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div> -->
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                                {
                                "colorTheme": "light",
                                "dateRange": "12M",
                                "showChart": true,
                                "locale": "en",
                                "largeChartUrl": "",
                                "isTransparent": true,
                                "showSymbolLogo": true,
                                "width": "300",
                                "height": "350",
                                "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                "gridLineColor": "rgba(240, 243, 250, 1)",
                                "scaleFontColor": "rgba(120, 123, 134, 1)",
                                "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                "tabs": [
                                {
                                    "title": "Indices",
                                    "symbols": [
                                    {
                                        "s": "COINBASE:LTCUSD"
                                    }
                                    ],
                                    "originalTitle": "Indices"
                                }
                                ]
                            }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-success">
                                <div class="custom-title">USDT</div>
                                <!-- <div class="custom-post-title">0.00000434 BTC</div>
                                <div class=" widget-action-link">
                                    <div class="text-purple weight700">$5,679</div>
                                    <small class="text-muted">$25</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <canvas id="crypto_chart_4" height="150"></canvas> -->
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div> -->
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                                {
                                "colorTheme": "light",
                                "dateRange": "12M",
                                "showChart": true,
                                "locale": "en",
                                "largeChartUrl": "",
                                "isTransparent": true,
                                "showSymbolLogo": true,
                                "width": "300",
                                "height": "350",
                                "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                "gridLineColor": "rgba(240, 243, 250, 1)",
                                "scaleFontColor": "rgba(120, 123, 134, 1)",
                                "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                "tabs": [
                                {
                                    "title": "Indices",
                                    "symbols": [
                                    {
                                        "s": "KRAKEN:USDTUSD"
                                    }
                                    ],
                                    "originalTitle": "Indices"
                                }
                                ]
                            }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-success">
                                <div class="custom-title">Bitcoin Cash BCH</div>
                                <!-- <div class="custom-post-title">0.00000434 BTC</div>
                                <div class=" widget-action-link">
                                    <div class="text-warning weight700">$5,679</div>
                                    <small class="text-muted">$25</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <canvas id="crypto_chart_5" height="150"></canvas> -->
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div> -->
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                                {
                                "colorTheme": "light",
                                "dateRange": "12M",
                                "showChart": true,
                                "locale": "en",
                                "largeChartUrl": "",
                                "isTransparent": true,
                                "showSymbolLogo": true,
                                "width": "300",
                                "height": "350",
                                "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                "gridLineColor": "rgba(240, 243, 250, 1)",
                                "scaleFontColor": "rgba(120, 123, 134, 1)",
                                "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                "tabs": [
                                {
                                    "title": "Indices",
                                    "symbols": [
                                    {
                                        "s": "COINBASE:BCHUSD"
                                    }
                                    ],
                                    "originalTitle": "Indices"
                                }
                                ]
                            }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <div class="card card-shadow mb-4">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-success">
                                <div class="custom-title">XLM</div>
                                <!-- <div class="custom-post-title">0.00000434 BTC</div>
                                <div class=" widget-action-link">
                                    <div class="text-primary weight700">$5,679</div>
                                    <small class="text-muted">$25</small>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <!-- <canvas id="crypto_chart_6" height="150"></canvas> -->
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container">
                                <div class="tradingview-widget-container__widget"></div>
                                <!-- <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Indices</span></a> by TradingView</div> -->
                                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
                                {
                                "colorTheme": "light",
                                "dateRange": "12M",
                                "showChart": true,
                                "locale": "en",
                                "largeChartUrl": "",
                                "isTransparent": true,
                                "showSymbolLogo": true,
                                "width": "300",
                                "height": "350",
                                "plotLineColorGrowing": "rgba(33, 150, 243, 1)",
                                "plotLineColorFalling": "rgba(33, 150, 243, 1)",
                                "gridLineColor": "rgba(240, 243, 250, 1)",
                                "scaleFontColor": "rgba(120, 123, 134, 1)",
                                "belowLineFillColorGrowing": "rgba(33, 150, 243, 0.12)",
                                "belowLineFillColorFalling": "rgba(33, 150, 243, 0.12)",
                                "symbolActiveColor": "rgba(33, 150, 243, 0.12)",
                                "tabs": [
                                {
                                    "title": "Indices",
                                    "symbols": [
                                    {
                                        "s": "KRAKEN:XLMUSD"
                                    }
                                    ],
                                    "originalTitle": "Indices"
                                }
                                ]
                            }
                                </script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="card card-shadow mb-4 ">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-warning">
                                <div class="custom-title">Sell Order</div>
                                <div class=" widget-action-link">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown" aria-expanded="false">
                                            Sorting <i class="fa fa-caret-down pl-2"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right vl-dropdown" x-placement="bottom-end">
                                            <a class="dropdown-item" href="#"> Assending</a>
                                            <a class="dropdown-item" href="#"> Dessending</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 pt-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-primary">Price per BTC</th>
                                        <th scope="col">BTC Ammount</th>
                                        <th scope="col">Total ($)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td> 1089887 </td>
                                        <td>0.3323234234</td>
                                        <td>$2765.35</td>
                                    </tr>
                                    <tr>
                                        <td> 1089887 </td>
                                        <td>0.3323234234</td>
                                        <td>$2765.35</td>
                                    </tr>
                                    <tr>
                                        <td> 1089887 </td>
                                        <td>0.3323234234</td>
                                        <td>$2765.35</td>
                                    </tr>
                                    <tr>
                                        <td> 1089887 </td>
                                        <td>0.3323234234</td>
                                        <td>$2765.35</td>
                                    </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-shadow mb-4 ">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-info">
                                <div class="custom-title">Buy Order</div>
                                <div class=" widget-action-link">
                                    <div class="dropdown">
                                        <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0" data-toggle="dropdown" aria-expanded="false">
                                            Sorting <i class="fa fa-caret-down pl-2"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right vl-dropdown" x-placement="bottom-end">
                                            <a class="dropdown-item" href="#"> Assending</a>
                                            <a class="dropdown-item" href="#"> Dessending</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 pt-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-primary">Price per BTC</th>
                                        <th scope="col">BTC Ammount</th>
                                        <th scope="col">Total ($)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td> 1089887 </td>
                                        <td>0.3323234234</td>
                                        <td>$2765.35</td>
                                    </tr>
                                    <tr>
                                        <td> 1089887 </td>
                                        <td>0.3323234234</td>
                                        <td>$2765.35</td>
                                    </tr>
                                    <tr>
                                        <td> 1089887 </td>
                                        <td>0.3323234234</td>
                                        <td>$2765.35</td>
                                    </tr>
                                    <tr>
                                        <td> 1089887 </td>
                                        <td>0.3323234234</td>
                                        <td>$2765.35</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="row">
                <div class="col-md-8">
                    <div class="card card-shadow mb-4 ">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-warning">
                                <div class="custom-title">Recent Trading activities</div>
                            </div>
                        </div>
                        <div class="card-body p-0 pt-2">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col" class="text-primary">Deal ID Number</th>
                                        <th scope="col">Trade Time</th>
                                        <th scope="col">Last Trade</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td> CID 123456789 </td>
                                        <td>17:22 AM</td>
                                        <td>$77,7666</td>
                                        <td><span class="badge badge-success py-2 px-3 form-pill">Complete</span></td>
                                    </tr>
                                    <tr>
                                        <td> CID 123456789 </td>
                                        <td>17:22 AM</td>
                                        <td>$123123</td>
                                        <td><span class="badge badge-warning py-2 px-3 form-pill">Pending</span></td>
                                    </tr>
                                    <tr>
                                        <td> CID 123456789 </td>
                                        <td>17:22 AM</td>
                                        <td>$45342</td>
                                        <td><span class="badge badge-danger py-2 px-3 form-pill">Cancel</span></td>
                                    </tr>
                                    <tr>
                                        <td> CID 123456789 </td>
                                        <td>17:22 AM</td>
                                        <td>$98821</td>
                                        <td><span class="badge badge-success py-2 px-3 form-pill">Complete</span></td>
                                    </tr>
                                    <tr>
                                        <td> CID 123456789 </td>
                                        <td>17:22 AM</td>
                                        <td>$213123</td>
                                        <td><span class="badge badge-danger py-2 px-3 form-pill">Cancel</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-shadow mb-4 ">
                        <div class="card-header border-0">
                            <div class="custom-title-wrap bar-info">
                                <div class="dropdown">
                                    <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0 custom-title" data-toggle="dropdown" aria-expanded="false">
                                        XRP <i class="fa fa-caret-down pl-2"></i>
                                    </a>
                                    <div class="dropdown-menu vl-dropdown" x-placement="bottom-end">
                                        <a class="dropdown-item" href="javascript:;"> BTC</a>
                                        <a class="dropdown-item" href="javascript:;"> Cardano</a>
                                        <a class="dropdown-item" href="javascript:;"> Ethereum</a>
                                        <a class="dropdown-item" href="javascript:;"> EOS</a>
                                        <a class="dropdown-item" href="javascript:;"> Ripple</a>
                                        <a class="dropdown-item" href="javascript:;"> NEO</a>
                                        <a class="dropdown-item" href="javascript:;"> NEM</a>
                                        <a class="dropdown-item" href="javascript:;"> Litecoin</a>
                                        <a class="dropdown-item" href="javascript:;"> Stellar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0 pt-2">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="text-primary weight700">XRP / USD</div>
                                            <div><small>20th Change</small></div>
                                            <div><small>20th Volume</small></div>
                                        </td>
                                        <td>
                                            <div class="text-primary weight700">1765.5</div>
                                            <div><small class="text-success">176.3 USD (+3.5%)</small></div>
                                            <div><small>1030.1908 XRP</small></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-primary weight700">XRP / GBP</div>
                                            <div><small>20th Change</small></div>
                                            <div><small>20th Volume</small></div>
                                        </td>
                                        <td>
                                            <div class="text-primary weight700">1765.5</div>
                                            <div><small class="text-danger">176.3 USD (+3.5%)</small></div>
                                            <div><small>1030.1908 XRP</small></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-primary weight700">XRP / BTC</div>
                                            <div><small>20th Change</small></div>
                                            <div><small>20th Volume</small></div>
                                        </td>
                                        <td>
                                            <div class="text-primary weight700">1765.5</div>
                                            <div><small class="text-success">176.3 USD (+3.5%)</small></div>
                                            <div><small>1030.1908 XRP</small></div>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>

    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>


