<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="main_setting">
            <div class="main_setting-container row">
                <div class="col-lg-4 col-sm-6">
                    <%- include('../includes/profile-summary.ejs') %>
                </div>
        
                <div class="col-lg-8 col-sm-6">
                    <div class="personal-setting">
                        <%- include('../includes/settings-nav.ejs') %>
    
                        <div class="security-section">
                            <div class="security-header">
                                <div>
                                    <h3 class="security-title text-capitalize">reset password</h3>
                                </div>
                            </div>
                        </div>

                    <%- include ('../includes/messages.ejs') %> 
                        <form method="post" action="/settings-security" class="security-form">
                            <div class="row-1">
                                <div class="form-group profile_form-group">
                                    <label for="oldPassword" class="text-label">Old Password</label>
                                    <input type="password" name="oldPassword" id="" placeholder="" class="security-oldPassword">
                                </div>  
                            </div>

                            <div class="row-2">
                                <div class="form-group profile_form-group">
                                    <label for="newPassword" class="text-label">New Password</label>
                                    <input type="password" name="newPassword" id="" placeholder="" class="security-newPassword">
                                </div>
                            </div>

                            <div class="row-3">
                                <div class="form-group profile_form-group">
                                    <label for="confirmPassword" class="text-label">Confirm Password</label>
                                    <input type="password" name="confirmPassword" id="" placeholder="" class="security-confirmPassword">
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="security-btn btn text-capitalize">reset password</button>
                            </div>
                        </form>
                    </div>
                </div>
        
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

