<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="main_setting">
            <div class="main_setting-container row">
                <div class="col-lg-4 col-sm-6">
                    <%- include('../includes/profile-summary.ejs') %>
                </div>
        
                <div class="col-lg-8 col-sm-6">
                    <div class="personal-setting">
                        <%- include('../includes/settings-nav.ejs') %>
        
                        <form method="get" action="" class="">
                            <div class="form-div">
                                <div class="form-div-left">
                                    <div class="form-group profile_form-group">
                                        <label for="bank">Bank Name</label>
                                        <input type="text" name="bankName" id="" placeholder="" class="profile-bank">
                                    </div>
                                    <div class="form-group profile_form-group ml-4">
                                        <label for="acct">Account</label>
                                        <input type="text" name="acct" id="" placeholder="" class="profile-acct">
                                    </div>
                                </div>
                                <div class="form-right">
                                    <div class="form-group profile_form-group">
                                        <label for="btc">Bitcoin</label>
                                        <input type="text" name="btc" id="" placeholder="Foster" class="profile-btc">
                                    </div>
                                    <div class="form-group profile_form-group">
                                        <label for="eth">Etherum</label>
                                        <input type="text" name="eth" id="" class="profile-eth">
                                    </div>
                                    <div class="form-group profile_form-group">
                                        <label for="ltc">Litcoin</label>
                                        <input type="password" name="ltc" id="" class="profile-ltc">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="profile-edit-btn btn btn-primary">Save Info</button>
                        </form>
                    </div>
                </div>
        
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

