<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="main_setting">
            <div class="main_setting-container row">
                <div class="col-lg-4 col-sm-6">
                    <%- include('../includes/profile-summary.ejs') %>
                </div>
        
                <div class="col-lg-8 col-sm-6">
                    <div class="personal-setting">
                        <div class="setting-navigation">
                            <nav class="nav setting-nav">
                                <li class="nav-item setting-item-1">
                                    <a class="nav-link setting-link" href="./settings">Profile</a>
                                </li>
                                <li class="nav-item setting-item-2">
                                    <a class="nav-link setting-link" href="./settings-security">Security</a>
                                </li>
                                <li class="nav-item setting-item-3">
                                    <a class="nav-link setting-link" href="#">Withdrawal Details</a>
                                </li>
                                <li class="nav-item setting-item-4">
                                    <a class="nav-link setting-link" href="#">Notification</a>
                                </li>

                            </nav>
        
                            <hr class="hr">
                        </div>
        
                        <form method="get" action="" class="profile-form">
                            <div class="form-left">
                                <div class="form-group profile_form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" name="fname" id="" placeholder="James" class="profile-fname">
                                </div>
                                <div class="form-group profile_form-group">
                                    <label for="email">Email</label>
                                    <input type="text" name="email" id="" placeholder="james@gmail.com" class="profile-email">
                                </div>
                                <div class="form-group profile_form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="" id="" class="profile-password">
                                </div>
                            </div>
        
                            <div class="form-right">
                                <div class="form-group profile_form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" name="lname" id="" placeholder="Foster" class="profile-lname">
                                </div>
                                <div class="form-group profile_form-group">
                                    <label for="phone">Phone</label>
                                    <input type="text" name="phone" id="" class="profile-phone">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
        
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

