<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="main_setting">
            <div class="main_setting-container row">
                <div class="col-lg-4 col-sm-6">
                    <%- include('../includes/profile-summary.ejs') %>
                </div>
        
                <div class="col-lg-8 col-sm-6">
                    <div class="personal-setting">
                        <%- include('../includes/settings-nav.ejs') %>
        
                        <form method="post" action="/settings-withdrawal" class="">
                            <div class="form-div">
                                <h3 class="bank-header">bank details</h3>
                                <div class="form-bank">
                                    <div class="form-group profile_form-group">
                                        <label for="bank" class="text-label">Bank Name</label>
                                        <input type="text" name="bank" id="" required = "true" placeholder="" class="profile-bank">
                                    </div>
                                    <div class="form-sub-bank">
                                        <div class="form-group profile_form-group">
                                            <label for="acct" class="text-label">Account Number</label>
                                            <input type="text" name="acct" id="" required = "true" placeholder="" class="profile-acct">
                                        </div>
                                        <div class="form-group profile_form-group ml-4">
                                            <label for="rtn" class="text-label">Routing Number</label>
                                            <input type="text" name="rtn" id="" placeholder="" required = "true" class="profile-rtn">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-crypto">
                                    <h3 class="crypto-header">crypto details</h3>
                                    <div class="form-group profile_form-group">
                                        <label for="btc" class="text-label">Bitcoin</label>
                                        <input type="text" name="btc" id="" required = "true" placeholder="" class="profile-btc">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="profile-edit-btn btn btn-primary">Save Info</button>
                        </form>
                    </div>
                </div>
        
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

