<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="main_transaction">
            <div class="main_transaction-container">
                <div class="transaction-header">
                    <div>
                        <h1 class="transaction-title">Transaction history</h1>
                    </div>
                </div>
        
                <div class="table-responsive-sm">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">Transaction ID</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% list.slice().reverse().forEach(function(item, index) { %>
                            <tr class="list">
                              <th scope="row"><%= item._id %></th>
                              <td><%= item.desc %></td>
                              <td><%= item.status %></td> 
                              <td>$<%= item.amount %></td>
                              <td><%= item.date %></td>
                            </tr>
                          <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>

    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

