<%- include('../includes/dashboard-header.ejs') %>


    <!--main content wrapper-->
    <div class="content-wrapper">

        <section class="withdraw-section">
            <div class="withdraw-container">
                <div class="withdraw-card">
                    <div>
                        <h1 class="withdraw-title">Choose withdraw method.</h1>
                    </div>
                    
                    <nav>
                        <div class="nav nav-tabs with-tablist" id="nav-tab" role="tablist">
                            <a class="nav-link active with-tab" id="nav-bank-tab" data-toggle="tab" href="#with-bank" role="tab" aria-controls="with-bank" aria-selected="true">Bank</a>
                            <a class="nav-link with-tab" id="nav-btc-tab" data-toggle="tab" href="#with-btc" role="tab" aria-controls="with-btc" aria-selected="false">Bitcoin</a>
                        </div>
                    </nav>
                    
                    <div class="tab-content" id="nav-tabContent">
                        <form method="post" action="/bank-withdraw" class="tab-pane fade show active mt-4" id="with-bank" role="tabpanel" aria-labelledby="nav-bank-tab">
                            <div class="with-bank">
                                <div class="form-group" hidden>
                                    <input id="deposit-title-input" class="form-control" type="text" name="desc" value="Bank tranfser">
                                </div>
                                <div class="form-group with_form-group">
                                    <label for="with-bank" class="text-label">Bank Name <span class="req">*</span></label>
                                    <input type="text" name="with-bank" id="" required = "true" placeholder="" class="input-style">
                                </div>
                                <div class="form-group with_form-group">
                                    <label for="with-acct" class="text-label">Account Number <span class="req">*</span></label>
                                    <input type="number" name="with-acct" id="" required = "true" placeholder="" class="input-style">
                                </div>
                                <div class="form-group with_form-group">
                                    <label for="with-rtn" class="text-label">Routing Number <span class="req">*</span></label>
                                    <input type="number" name="with-rtn" id="" placeholder="" required = "true" class="input-style">
                                </div>
                                <div class="form-group with_form-group">
                                    <label for="amtInput" class="text-label">Amount <span class="req">*</span></label>
                                    <input id="withdraw-amount-input" class="form-control input-style" type="number" name="amtInput" placeholder="Minimum $500" required>
                                </div>
                                <button type="submit" class="btn btn-primary btc-submit mt-4" id="withdraw">Confirm Withdraw</button>
                            </div>
                            <hr>
                            <div class="with-footer">
                                <div class="avail-bal">
                                    <p class="avail-title">Available Balance:</p>
                                    <p class="avail-amount"><span>$</span><%= availBal %></p>
                                </div>
                                <hr>
                                <div class="with-fee">
                                    <p class="fee-title">Withdrawal Fee:</p>
                                    <p class="fee-amount">$0</p>
                                </div>
                            </div>
                            <hr>
                        </form>
                        <form method="post" action="/btc-withdraw" class="tab-pane fade mt-4" id="with-btc" role="tabpanel" aria-labelledby="nav-btc-tab">
                            <div class="with-btc">
                                <div class="form-group" hidden>
                                    <input id="deposit-title-input" class="form-control" type="text" name="desc" value="BTC tranfser">
                                </div>
                                <div class="form-group with_form-group">
                                    <label for="bank" class="text-label">Bitcoin Address <span class="req">*</span></label>
                                    <input type="text" name="bank" id="" required = "true" placeholder="" class="input-style">
                                </div>
                                <div class="form-group with_form-group">
                                        <option value="">Premium Plan ($500)</option>
                                        <label for="amtInput" class="text-label">Amount <span class="req">*</span></label>
                                    <input id="withdraw-amount-input" class="form-control input-style" type="number" name="amtInput" placeholder="Minimum $500" required>
                                </div>
                                <div class="form-group with_form-group">
                                    <label for="rtn" class="text-label">Reference Note (optional)</label>
                                    <input type="text" name="rtn" id="" placeholder="" class="input-style">
                                </div>
                                <button type="submit" class="btn btn-primary btc-submit mt-4" id="withdraw">Confirm Withdraw</button>
                            </div>
                            <hr>
                            <div class="with-footer">
                                <div class="avail-bal">
                                    <p class="avail-title">Available Balance:</p>
                                    <p class="avil-amount"><span>$</span><%= availBal %></p>
                                </div>
                                <hr>
                                <div class="with-fee">
                                    <p class="fee-title">Withdrawal Fee:</p>
                                    <p class="fee-amount">$0</p>
                                </div>
                            </div>
                            <hr>
                        </form>
                    </div>
                      
                </div>
            </div>
        </section>

        <!--footer-->
        <%- include('../includes/dashboard-footer.ejs') %>
    </div>
    <!--/main content wrapper-->

    <!--right sidebar-->
    <%- include('../includes/dashboard-right-sidebar.ejs') %>
    <!--basic scripts-->
    <%- include('../includes/dashboard-script.ejs') %>

