<%- include('../includes/header.ejs') %>

<!-- ================================
    START BREADCRUMB AREA
================================= -->
<section class="breadcrumb-area">
    <div class="container">
    </div><!-- end container -->
</section><!-- end hero-area -->
<!-- ================================
    END BREADCRUMB AREA
================================= -->

<!-- ================================
       START FORM AREA
================================= -->
<section class="form-shared">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-shared-content">
                    <ul>
                        <li>
                            <i class="fa fa-lock"></i>
                            <h4>safe & secure</h4>
                            <p>We have put in place a standard and unbreakable security system for you.
                            </p>
                            <a href="/service">learn more</a>
                        </li>
                        <li>
                            <div class="feature__icon">
                                <i class="flaticon-012-bitcoin-15"></i>
                            </div>
                            <h4>multi currency support</h4>
                            <p>Yes! You don't have to worry about your currency, we accept every currency.
                            </p>
                            <a href="/service">learn more</a>
                        </li>
                        <li>
                            <i class="fa fa-wallet"></i>
                            <h4>stable and profitable</h4>
                            <p>With any of your preferred investment plan, you make up to 10x of your deposit within 48hours to 7 Days depending on your investment plan.
                            </p>
                            <a href="/service">learn more</a>
                        </li>
                        <li>
                            <i class="fa fa-money-bill"></i>
                            <h4>payment options</h4>
                            <p>You won't have to worry about your withdrawal or deposit because everything about us is instant and be rest assured, you are secured.
                            </p>
                            <a href="/service">learn more</a>
                        </li>
                    </ul>
                </div><!-- end form-shared-content-->
            </div><!-- end col-lg-6 -->
            <div class="col-lg-6">
                <div class="contact-form-action">
                    <div class="form-heading text-center">
                        <h3 class="form__title">Create an account!</h3>
                        <!-- <p class="form__desc">with your social network.</p> -->
                    </div>
                    <%- include ('../includes/messages.ejs') %> 
                    <!--Contact Form-->
                    <form action="./register" method="post">
                        <div class="row">
                            <!-- <div class="col-lg-4 col-sm-4 col-xs-12 form-group button-wrap">
                                <button class="theme-btn google-btn" type="button">
                                    <i class="fab fa-google"></i> Google
                                </button>
                            </div>

                            <div class="col-lg-4 col-sm-4 col-xs-12 form-group button-wrap">
                                <button class="theme-btn facebook-btn" type="button">
                                    <i class="fab fa-facebook-f"></i> Facebook
                                </button>
                            </div>

                            <div class="col-lg-4 col-sm-4 col-xs-12 form-group button-wrap">
                                <button class="theme-btn twitter-btn" type="button">
                                    <i class="fab fa-twitter"></i> Twitter
                                </button>
                            </div>

                            <div class="col-lg-12 col-sm-12 col-xs-12 account-assist text-center">
                                <p class="account__desc account__desc2">or</p>
                            </div> -->

                            <div class="col-lg-12 col-sm-12 form-group">
                                <input class="form-control" type="text" name="firstName" placeholder="First Name" required="true" value="<%= typeof firstName != 'undefined' ? firstName : '' %>">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 form-group">
                                <input class="form-control" type="text" name="lastName" placeholder="Last Name" required="true" value="<%= typeof lastName != 'undefined' ? lastName : '' %>">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 form-group">
                                <input class="form-control" type="email" name="email" placeholder="Email Address" required="true" value="<%= typeof email != 'undefined' ? email : '' %>">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 form-group">
                                <input class="form-control" type="tel" name="number" placeholder="Phone Number" required="true" value="<%= typeof number != 'undefined' ? number : '' %>">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 form-group">
                                <input class="form-control" type="text" name="password" placeholder="Password" required="true">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 form-group">
                                <input class="form-control" type="text" name="password2" placeholder="Confirm Password" required="true">
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 col-xs-12 form-condition">
                                <!-- <div class="custom-checkbox">
                                    <input type="checkbox" id="chb1" name>
                                    <label for="chb1">I agree to Bitcon's <a href="#">Privacy Policy</a></label>
                                </div> -->
                                <div class="custom-checkbox">
                                    <input type="checkbox" id="chb2" name="checkbox" required="true">
                                    <label for="chb2">I agree to Cryptoptions  <a href="#">Terms of Services</a></label>
                                </div>
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 col-xs-12 form-group">
                                <button class="theme-btn register-btn" type="submit">Register Account</a></button>
                            </div><!-- end col-lg-12 -->

                            <div class="col-lg-12 col-sm-12 col-xs-12 account-assist">
                                <p class="account__desc">Already have an account?<a href="./login"> Login</a></p>
                            </div><!-- end col-lg-12 -->
                        </div><!-- end row -->
                    </form>
                </div><!-- end contact-form -->
            </div><!-- end col-lg-7 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end form-shared -->
<!-- ================================
       START FORM AREA
================================= -->

<%- include('../includes/footer.ejs') %>

<!-- Template JS Files -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/owl.carousel.min.js"></script>
<script src="/public/js/waypoint.min.js"></script>
<script src="/public/js/jquery.counterup.min.js"></script>
<script src="/public/js/jquery.magnific-popup.min.js"></script>
<script src="/public/js/smooth-scrolling.js"></script>
<script src="/public/js/jquery-nice-select.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>